body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(20, 20, 65, 0.842);
    font-family: arial, sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #b94549, #24516b, #eed3e6);
    background-size: 300% 300%;
    animation: gradientmove 5s infinite ease-in-out;
}

@keyframes gradientmove{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
